@model EditUserViewModel
@{
    ViewData["Title"] = "Edit User";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-controller="Admin" asp-action="EditUser" method="post" class="form-horizontal" role="form">
            <input asp-for="Request.Id" class="form-control" type="hidden" />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.Username" class="control-label"></label>
                <input asp-for="Request.Username" class="form-control" />
                <span asp-validation-for="Request.Username" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label asp-for="Request.EmailAddress" class="control-label"></label>
                    <input asp-for="Request.EmailAddress" class="form-control" />
                    <span asp-validation-for="Request.EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <div class="checkbox">
                        <label asp-for="Request.RegistrationConfirmed" class="control-label"> </label>
                        <input asp-for="Request.RegistrationConfirmed" class="form-control" />
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Request.MobileNumber" class="control-label"></label>
                    <input asp-for="Request.MobileNumber" class="form-control" />
                    <span asp-validation-for="Request.MobileNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Request.FirstName" class="control-label"></label>
                    <input asp-for="Request.FirstName" class="form-control" />
                    <span asp-validation-for="Request.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Request.LastName" class="control-label"></label>
                    <input asp-for="Request.LastName" class="form-control" />
                    <span asp-validation-for="Request.LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Request.Password" class="control-label"></label>
                    <input asp-for="Request.Password" class="form-control" />
                    <span asp-validation-for="Request.Password" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Request.PasswordConfirm" class="control-label"></label>
                    <input asp-for="Request.PasswordConfirm" class="form-control" />
                    <span asp-validation-for="Request.PasswordConfirm" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Request.RoleIds" class="control-label"></label>
                    <select id="listRoles" class="selectpicker form-control" multiple>
                        @foreach (var role in Model.RolesLookup)
                        {
                            var isSelected = Model.Request.RoleIds.Any(c => c == role.Id);
                            if (isSelected)
                            {
                                <option value="@role.Id" selected>@role.Name</option>
                            }
                            else
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        }
                    </select>
                    <div id="listRoles-container">
                        @foreach (var roleId in Model.Request.RoleIds)
                        {
                            <input type='hidden' name='Request.RoleIds' value="@roleId" />
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $('#listRoles').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
            $('#listRoles-container').empty();

            var selectedValues = $(this).val();
            selectedValues.forEach(function (value, index) {
                $('#listRoles-container').append("<input type='hidden' name='Request.RoleIds' value=" + value + "></div>");
            });
        });
    </script>
}
